body
{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
    background-color:#eee; 
    font-family:sans-serif;
}
aside{
    margin-top:-20px;
}
h1,h2,h3
{
    line-height:1.2;
    color:#444;
}
a
{
    color:#445;
}
@media (prefers-color-scheme: dark) {
    body
{
    color:#eee;
    background-color:#111; 
}
h1,h2,h3
{
    color:#eee;
}
a{
    color:#ddd;
}
  }
